<h1>Articles / home</h1>

<h3><%= link_to "Login", auth_index_url %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
